<html>
<!--link rel="stylesheet" href="view/css/jquery.custombox.css"-->

<head>

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link href="css/simple-sidebar.css" rel="stylesheet">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/selectize.js/0.11.0/css/selectize.bootstrap3.css" />
    <link href="css/toastr.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://online.tableausoftware.com/javascripts/api/tableau_v8.js"></script>
    <!--script src="/views/vendor/bootstrap/dist/js/bootstrap.js"></script-->
    <script src="https://cdn.jsdelivr.net/bootstrap/3.3.0/js/bootstrap.js"></script>
    <!--<script src="https://cdn.jsdelivr.net/bootstrap/3.3.0/js/bootstrap.js"></script>-->
    <!--<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/selectize.js/0.11.0/js/standalone/selectize.js"></script>-->
    <script src="css/toastr.min.js"></script>
    <script src="vendor/selectize/dist/js/selectize.js"></script>

    <!-- Menu Toggle Script -->
    <script>
        $("#menu-toggle").click(function(e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>
    <!-- <script src="jquery.bpopup.js"></script> -->

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> 

    <!--script type="text/javascript" src="/bower_components/jquery/jquery.min.js"></script-->
 
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/3.0.0/css/bootstrap-datetimepicker.min.css" />
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.1/themes/base/jquery-ui.css" />
    <!-- load bootstrap css -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://online.tableausoftware.com/javascripts/api/tableau_v8.js"></script>

    <script type="text/javascript" src="./vendor/selectize/dist/js/selectize.js"></script>

</head>

<style>
    #tableauViz {
        height: 600px;
        min-width: 400px;
    }
    .tab-icon-mail{
        display: none !important;
    }
    body{
        background-color: #E5E5E5;
    }
</style>
  <body>
   <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.7.0/moment.min.js"></script>
   <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
   <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/3.0.0/js/bootstrap-datetimepicker.min.js"></script>

<script>
    var viz, workbook, activeSheet,a,b,c,d,e,f,g;

    function initializeViz() {

//alert("hi");
        var placeholderDiv = document.getElementById("tableauViz");
        var url = "https://public.tableausoftware.com/views/itrends/iTrends?:embed=y&:display_count=no";
        var options = {
            width: placeholderDiv.offsetWidth,
            height: placeholderDiv.offsetHeight,
            hideTabs: true,
            hideToolbar: true,
            onFirstInteractive: function () {
                workbook = viz.getWorkbook();
                activeSheet = workbook.getActiveSheet().getWorksheets()[0];
            }
        };
        viz = new tableauSoftware.Viz(placeholderDiv, url, options);
    }

    $(document).ready(function(){
        $(initializeViz);
        $(listenToMarksSelection);
        //toastr.success("Successfully logged in");
        $("#lgOut").on('click', function(){
            toastr.success("Successfully Logged Out !");
           setTimeout(function(){
              // alert("time out click")
               window.location.replace("/");
           }, 1000);
            //var url = "http://stackoverflow.com";
//            var url = "/";
//            $(location).attr('href',url);

            /*alert("log out clicked");
           window.location.replace("/");*/

        });

    });
//    $("iframe").load(function(){
//
//        //    var damageMessage = $(this).contents().find(".mw_error").text();
//        alert("done loading");
//
//    });
    function filterSingleValue() {
        console.log(activeSheet);
        activeSheet.applyFilterAsync(
                "Eventid",
                "1",
                tableauSoftware.FilterUpdateType.REPLACE);
    }

    function revertAll() {
        workbook.revertAllAsync();
    }


    //events

    function listenToMarksSelection() {
        viz.addEventListener(tableauSoftware.TableauEventName.MARKS_SELECTION, onMarksSelection);
        console.log("EVENT TRACKING ADDED");
    }

    function onMarksSelection(marksEvent) {
        return marksEvent.getMarksAsync().then(reportSelectedMarks);
    }

    function reportSelectedMarks(marks) {
        var html = [];
        for (var markIndex = 0; markIndex < marks.length; markIndex++) {
            var pairs = marks[markIndex].getPairs();
            html.push("<b>Mark " + markIndex + ":</b><ul>");
            for (var pairIndex = 0; pairIndex < pairs.length; pairIndex++) {
                var pair = pairs[pairIndex];
                html.push("<li><b>fieldName:</b> " + pair.fieldName);
                html.push("<br/><b>formattedValue:</b> " + pair.formattedValue + "</li>");
            }
            html.push("</ul>");
        }

        var dialog = $("#dialog");
        dialog.html(html.join(""));
        dialog.dialog("open");

    }

    function removeMarksSelectionEventListener() {
        viz.removeEventListener(tableauSoftware.TableauEventName.MARKS_SELECTION, onMarksSelection);
    }
</script>
<!-- <button type="button" onclick="$('#tableauViz').html(''); initializeViz()" >text</button>  -->
<!-- <button type="button" onclick="filterSingleValue()" >text</button>  -->

<div class="col-sm-12">
<!--<div class="col-sm-2">SIDEBAR-->
   <!-- <div id="wrapper" class="toggled">

        <!-- Sidebar -->
        <div id="sidebar-wrapper" style="display: none">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        Start Bootstrap
                    </a>
                </li>
                <li>
                    <a href="#">Dashboard</a>
                </li>
                <li>
                    <a href="#">Shortcuts</a>
                </li>
                <li>
                    <a href="#">Overview</a>
                </li>
                <li>
                    <a href="#">Events</a>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Services</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <!--<a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>-->

    </div>
<!--</div>-->
<div id="tableauViz" class="col-sm-10" style="padding-top: 2% "><i class="fa fa-bars fa-lg"></i></div>
<button id="lgOut" class="col-sm-2 btn btn-default"> <i class="fa fa-sign-out"></i>logout</button>

</div>
<div id="dialog" style="display: none"></div>

<div class="col-sm-10">
<div class="col-sm-2">

      <h3> Create new event</h3>
      <form role="form">

        <div class="form-group">
            <label for="eventName">Enter event name</label>
            <input type="text" class="form-control" id="eventName" placeholder="event name">
        </div>

        <div class="form-group">
            <label for="datetimepicker1">Enter event date and time</label>
            <div class='input-group date' id='datetimepicker1'>
              <input type='text' class="form-control" />
                  <span class="input-group-addon">\
                      <span class="glyphicon glyphicon-calendar">
                      </span>
                  </span>
            </div>
        </div>
        <script type="text/javascript">
            $(function () {
                $('#datetimepicker1').datetimepicker();
            });
        </script>

         <div class="form-group">
            <label for="select-to">Select/enter category</label>
            <select id="stwo">
                <option value="Techtalk">Techtalk</option>
                <option value="Winter shopping">Winter shopping</option>
                <option value="Hackathon">Hackathon</option>
            </select>
        </div>
        <script type="text/javascript">
            $(function() {
                //alert("Hello");
                //$('#stwo').selectize({create: true});
                /*$('select-to').selectize( 
                    {
                     persist: false,
                     maxItems: null,
                     valueField: 'email',
                     labelField: 'name',
                     searchField: ['name', 'email'],
                     options: [
                        {email: 'brian@thirdroute.com', name: 'Brian Reavis'},
                        {email: 'nikola@tesla.com', name: 'Nikola Tesla'},
                        {email: 'someone@gmail.com'}
                     ],
                     render: {
                        item: function(item, escape) {
                              return '<div>' +
                              (item.name ? '<span class="name">' + escape(item.name) + '</span>' : '') +
                              (item.email ? '<span class="email">' + escape(item.email) + '</span>' : '') +
                              '</div>';
                        },
                        option: function(item, escape) {
                            var label = item.name || item.email;
                            var caption = item.name ? item.email : null;
                            return '<div>' +
                            '<span class="label">' + escape(label) + '</span>' +
                            (caption ? '<span class="caption">' + escape(caption) + '</span>' : '') +
                            '</div>';
                        }
                     }  
                    });*/

            });
        </script>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>
<div id="tableauViz" class="col-sm-10"></div>
</div>
<div id="dialog"></div>
<div id="dialog2"></div>
<div id="dialog3"></div>
<!--script src="view/js/jquery.custombox.js"></script-->

</body>
<div id="dialog2"></div><div id="dialog3"></div>
