<html>
<!--link rel="stylesheet" href="view/css/jquery.custombox.css"-->

<head>

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link href="css/simple-sidebar.css" rel="stylesheet">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/selectize.js/0.11.0/css/selectize.bootstrap3.css" />
    <link href="css/toastr.css" rel="stylesheet">
    <link href="vendor/jasny-bootstrap/dist/css/jasny-bootstrap.css" rel="stylesheet">
    <link href="css/navmenu-reveal.css" rel="stylesheet">

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://online.tableausoftware.com/javascripts/api/tableau_v8.js"></script>
    <script src="https://cdn.jsdelivr.net/bootstrap/3.3.0/js/bootstrap.js"></script>
    <script src="css/toastr.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.1/themes/base/jquery-ui.css" />
    <script src="https://online.tableausoftware.com/javascripts/api/tableau_v8.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.7.0/moment.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/3.0.0/js/bootstrap-datetimepicker.min.js"></script>
    <script src="vendor/selectize/dist/js/standalone/selectize.js"></script>
    <script src="vendor/jasny-bootstrap/dist/js/jasny-bootstrap.js"></script>
</head>

<style>
    #tableauViz {
        height: 600px;
        min-width: 400px;
    }
    .tab-icon-mail{
        display: none !important;
    }
    body{
        background-color: #E5E5E5;
    }
</style>
  <body>


<script>
    var viz, workbook, activeSheet,a,b,c,d,e,f,g;

    function initializeViz() {

//alert("hi");
        var placeholderDiv = document.getElementById("tableauViz");
        var url = "https://public.tableausoftware.com/views/itrends/iTrends?:embed=y&:display_count=no";
        var options = {
            width: placeholderDiv.offsetWidth,
            height: placeholderDiv.offsetHeight,
            hideTabs: true,
            hideToolbar: true,
            onFirstInteractive: function () {
                workbook = viz.getWorkbook();
                activeSheet = workbook.getActiveSheet().getWorksheets()[0];
            }
        };
        viz = new tableauSoftware.Viz(placeholderDiv, url, options);
    }

    $(document).ready(function(){
        $(initializeViz);
        $(listenToMarksSelection);
        //toastr.success("Successfully logged in");
        $("#lgOut").on('click', function(){
            toastr.success("Successfully Logged Out !");
           setTimeout(function(){
              // alert("time out click")
               window.location.replace("/");
           }, 1000);
        });
        $("#eventbtn").on('click', function(){
            toastr.success("Event successfully created");
//           setTimeout(function(){
//              // alert("time out click")
//            //   window.location.replace("/");
//           }, 2000);
        });

    });
//    $("iframe").load(function(){
//
//        //    var damageMessage = $(this).contents().find(".mw_error").text();
//        alert("done loading");
//
//    });
    function filterSingleValue() {
        console.log(activeSheet);
        activeSheet.applyFilterAsync(
                "Eventid",
                "1",
                tableauSoftware.FilterUpdateType.REPLACE);
    }

    function revertAll() {
        workbook.revertAllAsync();
    }


    //events

    function listenToMarksSelection() {
        viz.addEventListener(tableauSoftware.TableauEventName.MARKS_SELECTION, onMarksSelection);
        console.log("EVENT TRACKING ADDED");
    }

    function onMarksSelection(marksEvent) {
        return marksEvent.getMarksAsync().then(reportSelectedMarks);
    }

    function reportSelectedMarks(marks) {
        var html = [];
        for (var markIndex = 0; markIndex < marks.length; markIndex++) {
            var pairs = marks[markIndex].getPairs();
            html.push("<b>Mark " + markIndex + ":</b><ul>");
            for (var pairIndex = 0; pairIndex < pairs.length; pairIndex++) {
                var pair = pairs[pairIndex];
                html.push("<li><b>fieldName:</b> " + pair.fieldName);
                html.push("<br/><b>formattedValue:</b> " + pair.formattedValue + "</li>");
            }
            html.push("</ul>");
        }

        var dialog = $("#dialog");
        dialog.html(html.join(""));
        dialog.dialog("open");

    }

    function removeMarksSelectionEventListener() {
        viz.removeEventListener(tableauSoftware.TableauEventName.MARKS_SELECTION, onMarksSelection);
    }
</script>
<!-- <button type="button" onclick="$('#tableauViz').html(''); initializeViz()" >text</button>  -->
<!-- <button type="button" onclick="filterSingleValue()" >text</button>  -->

<div class="col-sm-12" style="padding-left: 0%">
    <!--<div class="pull-left navbar navbar-default navbar-fixed-top canvas-slid" style="left: 300px;">-->
    <div class="pull-left navbar navbar-default navbar-fixed-top" style="padding-left: 2%">
        <button type="button" class="navbar-toggle" text="Click" data-toggle="offcanvas" data-recalc="false" data-target=".navmenu" data-canvas=".canvas">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <div style="padding-top: 1%; padding-right: 2%;">
            <button id="lgOut" class="btn btn-default pull-right"><i class="fa fa-sign-out"></i> log out</button>
            <!--<button id="lgOut" class="col-sm-2 btn btn-default"> <i class="fa fa-sign-out"></i>logout</button>-->
         </div>
    </div>
    <!--<div class="pull-right">-->

            <!--<button class="btn btn-default ">log out</button>-->

    <!--</div>-->
        <!-- Sidebar -->

    <div class="navmenu navmenu-default navmenu-fixed-left" style="padding-left: 3%">
      <a class="navmenu-brand" href="#">Event options</a>
       <ul class="nav navmenu-nav">
        <li><a href="#">Create event</a></li>
          <!--<form role="form">-->
          <div>

        <div class="form-group">
            <label for="eventName">Enter event name</label>
            <input type="text" class="form-control" id="eventName" placeholder="event name">
        </div>

        <div class="form-group">
            <label for="datetimepicker1">Enter event date and time</label>
            <div class='input-group date' id='datetimepicker1'>
              <input type='text' class="form-control" />
                  <span class="input-group-addon">\
                      <span class="glyphicon glyphicon-calendar">
                      </span>
                  </span>
            </div>
        </div>
        <script type="text/javascript">
            $(function () {
                $('#datetimepicker1').datetimepicker();
            });
        </script>

         <div class="form-group">
            <label for="select-to">Select/enter category</label>
            <select id="stwo">
                <option value="Techtalk">Techtalk</option>
                <option value="Winter shopping">Winter shopping</option>
                <option value="Hackathon">Hackathon</option>
            </select>
        </div>
        <script type="text/javascript">
            $(function() {
                //alert("Hello");
                $('#stwo').selectize({create: true});
                /*$('select-to').selectize( 
                    {
                     persist: false,
                     maxItems: null,
                     valueField: 'email',
                     labelField: 'name',
                     searchField: ['name', 'email'],
                     options: [
                        {email: 'brian@thirdroute.com', name: 'Brian Reavis'},
                        {email: 'nikola@tesla.com', name: 'Nikola Tesla'},
                        {email: 'someone@gmail.com'}
                     ],
                     render: {
                        item: function(item, escape) {
                              return '<div>' +
                              (item.name ? '<span class="name">' + escape(item.name) + '</span>' : '') +
                              (item.email ? '<span class="email">' + escape(item.email) + '</span>' : '') +
                              '</div>';
                        },
                        option: function(item, escape) {
                            var label = item.name || item.email;
                            var caption = item.name ? item.email : null;
                            return '<div>' +
                            '<span class="label">' + escape(label) + '</span>' +
                            (caption ? '<span class="caption">' + escape(caption) + '</span>' : '') +
                            '</div>';
                        }
                     }  
                    });*/

            });
        </script>
      <button id="eventbtn" type="submit" class="btn btn-default">Submit</button>
      <!--<button id="eventbtn1"  class="btn btn-danger"> Cancel</button>-->
              <button class=" btn btn-danger"  data-toggle="offcanvas" data-recalc="false" data-target=".navmenu" data-canvas=".canvas"> Cancel</button>
    </div>
    <!--</form>-->
        <li class="divider"></li>
        <li><a href="#">Search event</a></li>
      <!--<ul class="nav navmenu-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
          <ul class="dropdown-menu navmenu-nav">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li class="dropdown-header">Nav header</li>
            <li><a href="#">Separated link</a></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>-->
      </ul>
    </div>

    <div class="canvas">
      <!--<div class="navbar navbar-default navbar-fixed-top canvas-slid" style="left: 300px;">-->
        <!--<button type="button" class="navbar-toggle" text="Click" data-toggle="offcanvas" data-recalc="false" data-target=".navmenu" data-canvas=".canvas">-->
          <!--<span class="icon-bar"></span>-->
          <!--<span class="icon-bar"></span>-->
          <!--<span class="icon-bar"></span>-->
        <!--</button>-->
      <!--</div>-->

      <div class="container">
        
       <div id="tableauViz" class="col-sm-10"></div>
       </div>
      </div>
    </div>

<div>       
<!--</div>-->
<!--div id="tableauViz" class="col-sm-10" style="padding-top: 2% "><i class="fa fa-bars fa-lg"></i></div-->

</div>
<div id="dialog" style="display: none"></div>

<div class="col-sm-10">
<!--<div class="col-sm-2">    -->
    <!--<button id="lgOut" class="col-sm-2 btn btn-default"> <i class="fa fa-sign-out"></i>logout</button>-->
<!--</div>-->

<div id="dialog"></div>
<div id="dialog2"></div>
<div id="dialog3"></div>
<!--script src="view/js/jquery.custombox.js"></script-->

</body>
<div id="dialog2"></div><div id="dialog3"></div>
