<html>
<!--link rel="stylesheet" href="view/css/jquery.custombox.css"-->

<head>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> 

    <!--script type="text/javascript" src="/bower_components/jquery/jquery.min.js"></script-->
 
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/3.0.0/css/bootstrap-datetimepicker.min.css" />
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.1/themes/base/jquery-ui.css" />
    <!-- load bootstrap css -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://online.tableausoftware.com/javascripts/api/tableau_v8.js"></script>
</head>

<style>
    #tableauViz {
        height: 600px;
        min-width: 400px;
    }
    .tab-icon-mail{
        display: none !important;
    }
</style>
  <body>
   <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.7.0/moment.min.js"></script>
   <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
   <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/3.0.0/js/bootstrap-datetimepicker.min.js"></script>

<script>
    var viz, workbook, activeSheet,a,b,c,d,e,f,g;

    function initializeViz() {

//alert("hi");
        var placeholderDiv = document.getElementById("tableauViz");
        var url = "https://public.tableausoftware.com/views/itrends/iTrends?:embed=y&:display_count=no";
        var options = {
            width: placeholderDiv.offsetWidth,
            height: placeholderDiv.offsetHeight,
            hideTabs: true,
            hideToolbar: true,
            onFirstInteractive: function () {
                workbook = viz.getWorkbook();
                activeSheet = workbook.getActiveSheet().getWorksheets()[0];
            }
        };
        viz = new tableauSoftware.Viz(placeholderDiv, url, options);
    }

    $(document).ready(function(){
        $(initializeViz);
        $(listenToMarksSelection);


    });
//    $("iframe").load(function(){
//
//        //    var damageMessage = $(this).contents().find(".mw_error").text();
//        alert("done loading");
//
//    });
    function filterSingleValue() {
        console.log(activeSheet);
        activeSheet.applyFilterAsync(
                "Eventid",
                "1",
                tableauSoftware.FilterUpdateType.REPLACE);
    }

    function revertAll() {
        workbook.revertAllAsync();
    }


    //events

    function listenToMarksSelection() {
        viz.addEventListener(tableauSoftware.TableauEventName.MARKS_SELECTION, onMarksSelection);
        console.log("EVENT TRACKING ADDED");
    }

    function onMarksSelection(marksEvent) {
        return marksEvent.getMarksAsync().then(reportSelectedMarks);
    }

    function reportSelectedMarks(marks) {
        var html = [];
        for (var markIndex = 0; markIndex < marks.length; markIndex++) {
            var pairs = marks[markIndex].getPairs();
            html.push("<b>Mark " + markIndex + ":</b><ul>");
            for (var pairIndex = 0; pairIndex < pairs.length; pairIndex++) {
                var pair = pairs[pairIndex];
                html.push("<li><b>fieldName:</b> " + pair.fieldName);
                html.push("<br/><b>formattedValue:</b> " + pair.formattedValue + "</li>");
            }
            html.push("</ul>");
        }

        var dialog = $("#dialog");
        dialog.html(html.join(""));
        dialog.dialog("open");

    }

    function removeMarksSelectionEventListener() {
        viz.removeEventListener(tableauSoftware.TableauEventName.MARKS_SELECTION, onMarksSelection);
    }
</script>
<!-- <button type="button" onclick="$('#tableauViz').html(''); initializeViz()" >text</button>  -->
<!-- <button type="button" onclick="filterSingleValue()" >text</button>  -->
<div class="col-sm-10">
<div class="col-sm-2">

      <h3> Create new event</h3>
      <form role="form">

        <div class="form-group">
            <label for="eventName">Enter event name</label>
            <input type="text" class="form-control" id="eventName" placeholder="event name">
        </div>

        <div class="form-group">
            <label for="datetimepicker1">Enter event date and time</label>
            <div class='input-group date' id='datetimepicker1'>
              <input type='text' class="form-control" />
                  <span class="input-group-addon">\
                      <span class="glyphicon glyphicon-calendar">
                      </span>
                  </span>
            </div>
        </div>
        <script type="text/javascript">
            $(function () {
                $('#datetimepicker1').datetimepicker();
            });
        </script>

         <div class="form-group">
            <label for="select-to">Select/enter category</label>
            <input type="text" class="form-control" id="select-to" placeholder="event name">
        </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>
<div id="tableauViz" class="col-sm-10"></div>
</div>
<div id="dialog"></div>
<div id="dialog2"></div>
<div id="dialog3"></div>
<!--script src="view/js/jquery.custombox.js"></script-->

</body>
<div id="dialog2"></div><div id="dialog3"></div>
