<!doctype html>
<html>
<head>
    <title>iTrendz</title>
    <!--<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> &lt;!&ndash; load bootstrap css &ndash;&gt;-->
    <link rel="stylesheet" href="./vendor/bootstrap/dist/css/bootstrap.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <link rel="stylesheet" href="./vendor/intro.js/introjs.css"> <!-- load fontawesome -->
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.js"></script>
    <script type="text/javascript" src="./vendor/selectize/dist/js/selectize.js"></script>
    <script type="text/javascript" src="./vendor/intro.js/intro.js"></script>
    <style>
        body        { padding-top:80px; background-color: #E5E5E5;}


    </style>
</head>
<body>
<div class="container">

    <div class="jumbotron text-center col-sm-12">
        <h1 data-step="1" data-intro="Welcome!"><span class="fa fa-bolt"></span> iTrendz</h1>
        <blockquote><em>Savvy way to discover and explore Trending events</em></blockquote>
        <p data-step="2" data-intro="Login!">Login with:</p>
        <a href="/intro" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>
        <a href="/auth/google" class="btn btn-danger"><span class="fa fa-google-plus"> Google</span></a>
        <a href="/intro" class="btn btn-info"><span class="fa fa-twitter"></span> Twitter</a>
         <p>OR</p>
        <!--<a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a>-->
        <a href="/intro">Continue as a Guest</a>
        <!--<a href="/intro">Show Intro</a>-->
        <!--<a class="btn btn-large btn-success" href="javascript:void(0);" onclick="javascript:introJs().setOption('showBullets', false).start();">Show me how</a>-->
    </div>

</div>
</body>
</html>