<!doctype html>
<html>
<head>
    <title>iTrendz</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.js"></script>
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">

    <div class="jumbotron text-center col-sm-12">
        <h1><span class="fa fa-lock"></span> iTrendz</h1>

        <p>Login with:</p>

        <a href="/auth/google" class="btn btn-danger"><span class="fa fa-google-plus"> Google</span></a>
         <p>OR</p>
        <!--<a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a>-->
        <a href="/guest">Continue as a Guest</a>
    </div>

</div>
</body>
</html>