<!doctype html>
<html>
<head>
    <title>iTrendz</title>
    <!--<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> &lt;!&ndash; load bootstrap css &ndash;&gt;-->
    <link rel="stylesheet" href="./vendor/bootstrap/dist/css/bootstrap.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <link rel="stylesheet" href="./vendor/intro.js/introjs.css"> <!-- load fontawesome -->
    <link href="css/toastr.css" rel="stylesheet">
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.js"></script>
    <script type="text/javascript" src="./vendor/selectize/dist/js/selectize.js"></script>
    <script src="css/toastr.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.7.0/moment.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/3.0.0/js/bootstrap-datetimepicker.min.js"></script>
    <!--<script src="vendor/selectize/dist/js/standalone/selectize.js"></script>-->
    <script type="text/javascript" src="./vendor/intro.js/intro.js"></script>
    <script>
        //        introJs().oncomplete(function() {
        //            alert("end of introduction");
        //        });
        $(document).ready(function() {
            toastr.success("Successfully logged in");


            $("#showIntro").click(function(){
                introJs().setOption('showBullets', false).start()
            });

            setTimeout(function(){
                $("#showIntro").click();
                $(".input-group-addon").click();
            }, 800);

            $("#lgOut1").on('click', function(){
                toastr.success("Successfully Logged Out !");
                setTimeout(function(){
                    // alert("time out click")
                    window.location.replace("/");
                }, 1000);
            });
        });
    </script>
</head>
<body>
<!--<div style="width: 50%; margin: 0 auto; padding-top: 2%">-->
<div style="padding-top: 2%">
    <div class="col-sm-3 navmenu navmenu-default navmenu-fixed-left" style="width: 225px; background-color: #F8F8F8;">
        <!--<a class="navmenu-brand" href="#">iTrendz</a>-->
        <ul class="nav navmenu-nav" style="padding-left: 5%;">
            <!--<li><a href="#">Create event</a></li>-->
            <li><h3 data-step="7" data-intro="swipe to open sidebar" data-position='right' >Create event</h3></li>
            <!--<form role="form">-->
            <div>

                <div class="form-group">
                    <label for="eventName">Enter event name</label>
                    <input type="text" data-step="8" data-intro=" Enter Event name!" data-position='right'  class="form-control" id="eventName" placeholder="event name">
                </div>

                <div class="form-group" >
                    <label for="datetimepicker1">Enter event date and time</label>
                    <div class='input-group date' id='datetimepicker1'>
                        <input type='text' class="form-control" placeholder="Select Date"  />
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar" data-step="9" data-intro="Select Date and Time!" data-position='right'>
                      </span>
                  </span>
                    </div>
                </div>
                <script type="text/javascript">
                    $(function () {
                        $('#datetimepicker1').datetimepicker();
                    });
                </script>

                <div class="form-group">
                    <label for="select-to">Select/enter category</label>
                    <select id="stwo" data-step="10" data-intro="Select Category for event" data-position='right' >
                        <option value="Techtalk">Techtalk</option>
                        <option value="Winter shopping">Winter shopping</option>
                        <option value="Hackathon">Hackathon</option>
                    </select>
                </div>
                <script type="text/javascript">
                    $(function() {
                        // $('#stwo').selectize({create: true})
                    });
                </script>
                <button id="eventbtn" type="submit" class="btn btn-default" data-step="11" data-intro="Click to create an event!" data-position='right' >Submit</button>
                <!--<button id="eventbtn1"  class="btn btn-danger"> Cancel</button>-->
                <button id="cancelBtn" class=" btn btn-danger"  data-toggle="offcanvas" data-recalc="false" data-target=".navmenu" data-canvas=".canvas"> Cancel</button>
            </div>
            <!--</form>-->
            <li class="divider"></li>
            <li><a href="#">Search event</a></li>

        </ul>
    </div>
    <div class="col-sm-9" style="width: 50%;">
        <img data-step="1" data-intro="Welcome!" src="images/iheader.png" alt="iheader" style="width: 100%"/><br/>
        <img data-step="2" data-intro="text input!"  src="images/second.png" alt="second" style="width: 82%"/>
        <img data-step="3" data-intro="search!" data-position='right' src="images/third.png" alt="third" style="width: 12%"/><br/>
        <!--<img data-step="4" data-intro="Categories" src="images/fourth.png" alt="fourth" /><br/>-->
        <!--<img data-step="4" data-intro="Categories" src="images/fourth_1.png" alt="fourth" /><img data-step="5" data-intro="Categories" src="images/fourth_2.png" alt="fourth" />-->
        <img  src="images/4_1.png" alt="fourth" style="width: 34%"/><img data-step="4" data-intro="Categories" src="images/4_2.png" alt="fourth" style="width: 35%"/><img  src="images/4_3.png" alt="fourth" style="width: 29%"/><br/>
        <div style="width: 50%; margin: 0 auto">
            <img data-step="5" data-intro="Trending events!" data-position='left' src="images/5_1.png" alt="events" style="width: 121%"/><br/>
        </div>
    </div>


</div>
<!--<a class="btn btn-large btn-success" href="javascript:void(0);" onclick="javascript:introJs().setOption('showBullets', false).start();">Show me how</a>-->
<!--<a class="btn btn-large btn-success" href="javascript:void(0);" id="showIntro">Show me how</a>-->
<div style="padding-right: 2%">
    <button class=" pull-right btn btn-large btn-success" id="showIntro" style="display: none">Show Tour</button>
    <a href="/guest" data-step="12" data-intro="continue to awesomeness" class=" pull-right btn btn-large btn-success" id="continue">Continue >></a>
</div>
</body>
</html>